/* NAVBAR CONTAINER */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  background: linear-gradient(135deg, #1b1f8a, #2129b7, #3f52ff);

  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* LEFT: Photo + Name */
.left-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.profile-pic {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  color: white;
  margin: 0;
}

/* RIGHT LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #c9c9c9;
}

/* MOBILE MENU BUTTON */
.menu-btn {
  display: none;
  font-size: 28px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* RESPONSIVE NAVBAR */
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background: #222;
    position: absolute;
    top: 70px;
    right: 20px;
    padding: 15px;
    border-radius: 8px;
    width: 150px;
  }

  .nav-links.show {
    display: flex;
  }
}
